.HeaderSliderToDay {
  margin-bottom: 100px;
  .HeaderSTitle {
    font-family: "Book Antiqua";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #fafafa;
    margin: auto;
    width: 1095px;
    padding-bottom: 30px;
  }
}
