.PopularComponent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1177px;
  background: rgba(53, 54, 65, 0.9);
  backdrop-filter: blur(15px);
  border-radius: 20px;

  .popularImg {
    height: 400px;
    padding: 20px 0px 30px 20px;
    img {
      height: 360px;
      width: 250px !important;
    }
  }

  .popularMain {
    padding: 20px 20px 20px 0px;
    width: 915px;
    padding-left: 30px;

    .popularCategory {
      padding-top: 13px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 35px;

      h3 {
        font-family: "Book Antiqua";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #00c2ff;
      }

      span {
        font-family: "Book Antiqua";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        color: #fafafa;
      }
    }

    .popularName {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      padding-bottom: 35px;

      h3 {
        font-family: "Book Antiqua";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #fafafa;
        padding-bottom: 10px;
      }

      span {
        font-family: "Book Antiqua";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #989aad;
      }
    }

    .popularUl {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        font-family: "Book Antiqua";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #fafafa;

        span {
          padding-left: 30px;
          font-family: "Book Antiqua";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;

          &:last-child {
            font-family: "Book Antiqua";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #989aad;
          }
        }
      }
    }

    .loadMore {
      font-family: "Book Antiqua";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #00c2ff;
      padding-top: 35px;
    }
  }
}
