.DropdownSelectButton {
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}

.DropdownSelectButton-button {
  margin: 7px 24px;
  color: var(--black, #21222d);
  font-size: 18px;
  font-family: Book Antiqua;
  min-width: 144px;
  min-height: 22px;
}

.DropdownSelectButton-selectediv {
  display: flex;
  flex-direction: row;
}

.DropdownSelectButton-spans {
  width: 144px !important;
  height: 22px !important;
  padding-right: 8px;
}
