.ULikeSlider {
  width: 1478px;
  margin: auto;
  overflow: hidden;
  padding-left: 70px;
  padding-top: 100px;
  padding-bottom: 72px;

  .ULikeTitle {
    font-family: "Book Antiqua";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #fafafa;
    width: 1163px;
    margin: auto;
    padding-bottom: 30px;
  }

  div {
    div {
      div {
        width: 654px !important;
      }
    }
  }
}
