.dropdown__unsel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dropdown__selected {
  display: flex;
  padding: 16px 20px;
  align-items: flex-start;
  width: 421px;
  height: 56px;
  flex-direction: row;
  overflow: hidden;
  color: var(--white, #fafafa);
  text-overflow: ellipsis;
  font-size: 20px;
  font-family: Book Antiqua;
  border-radius: 15px;
  border-bottom: 1px solid var(--gray, #989aad);
  background: var(--color-elements, #353641);
  gap: 10px;
}

.dropdown__menu {
  border-radius: 15px;
  background: var(--color-elements, #353641);
  max-height: 448px;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dropdown__menu::-webkit-scrollbar {
  display: none;
}

.dropdown__option {
  display: flex;
  width: 421px;
  padding: 16px 20px;
  align-items: center;
  color: #e1e1e1;
  font-size: 20px;
  font-family: Book Antiqua;
}

.dropdown__menu .selected {
  background: var(--dark-gray, #494a55);
}
